# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will use the watchlist you created to answer these questions:

1. **Which streaming services contain the shows you want to watch next?**
2. **Which streaming service is the best value based on the shows you want to watch?**

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. 

**Remember**: we learned in our prep work that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell. You will need 10 shows overall.

1. Ring of Power
2. Our Flag Means Death
3. StarBeam
4. Possessed
5. Love Daily
6. Alien TV
7. New Girl
8. Reba
9. Duncanville
10. Deadly Women

## Database Setup

Import the necessary libraries and create a dataframe from the provided CSV. 

Print the info out for the dataframe. 

After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces or unusual characters in the names such as `"Disney+"`. 

Print out the info for the dataframe again to ensure your changes were made.

In [1]:
# Code here
import sqlite3 as sl
import pandas as pd

df = pd.read_csv('tv_shows.csv')
con = sl.connect('tv_shows.db')
print(con)
cur = con.cursor()
print(cur)

df.to_sql('tv_shows', con, if_exists='replace', index=False)

with con: 
    tv_show_data = con.execute("SELECT * FROM tv_shows LIMIT 20").fetchall()
    for row in tv_show_data:
        print(row)
con.close()

<sqlite3.Connection object at 0x0000024D99405030>
<sqlite3.Cursor object at 0x0000024DB8857A40>
(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

With your dataframe at the ready, create a new database called `tv.db`. 

Add a new table to your database called `shows` using the data in the dataframe.

In [2]:
# Code here 
con = sl.connect('tv.db')
cur = con.cursor()

df.to_sql('shows', con, if_exists='replace', index=False)

5368

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [3]:
# Code Here
with con:
    tv_20_db = con.execute("SELECT * FROM shows LIMIT 20").fetchall()
    for row in tv_20_db: 
        print(row)

(0, 1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(1, 2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(2, 3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(3, 4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(4, 5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(5, 6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(6, 7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(7, 8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(8, 9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(9, 10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(10, 11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(11, 12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(12, 13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(13, 14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(14, 15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(15, 16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(16, 17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(17, 18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(18, 19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(19, 20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now, create a new table called `watchlist` that has three fields:
1. id -> data type of `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> data type of `TEXT`
3. importance_rank -> data type of `INTEGER`

For the `importance_rank` field, rank each of your watchlist shows based on how much you want to see them, `10` being the most important and `1` being the least important.

Then, insert each of the items from your watchlist into the new `watchlist` table, using the `executemany` method from our exercises.

Finally, select all the records from the `watchlist` table and print them out to the console.

In [12]:
# Code here
with con: 
    con.executescript("""
        BEGIN;
        CREATE TABLE watchlist(
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            title TEXT,
            importance_rank INTEGER
        );
        COMMIT;
    """)
sql = 'INSERT INTO watchlist(title, importance_rank) values(?, ?)'
watchlist_data = [
    ('From', 10),
    ('Solar Opposites', 9),
    ('The Boys', 8),
    ('Grotesquerie', 7),
    ('Super Kitties', 1),
    ('Bluey', 2),
    ('American Horror Story', 6),
    ('Queer Eye', 5),
    ('Invincible', 4),
    ('The Floor', 3)
]
    
with con:
    con.executemany(sql, watchlist_data)
with con:
	watchlist_list = con.execute("SELECT * FROM watchlist").fetchall()
print(watchlist_list)

[(1, 'From', 10), (2, 'Solar Opposites', 9), (3, 'The Boys', 8), (4, 'Grotesquerie', 7), (5, 'Super Kitties', 1), (6, 'Bluey', 2), (7, 'American Horror Story', 6), (8, 'Queer Eye', 5), (9, 'Invincible', 4), (10, 'The Floor', 3)]

## Working with the Data

Using Pandas or SQL, find the answer to these 2 questions:
1. How many of the total shows (full csv list) are on each streaming service?
2. What percentage of these total shows is available on each streaming service?

**Hint**:

Use the pandas `query` method to filter the data, and then the Python `len` method to find it's length. [Relevant Link](https://www.geeksforgeeks.org/ways-to-filter-pandas-dataframe-by-column-values/)

In [5]:
# Code here


Now join your `watchlist` data to the `shows` data using pandas or SQL. Verify that you joined the data correctly.

Using this related dataset, come up with analytic code that answers these questions:
1. The number of watchlist shows each streaming service has
2. The percentage of your overall watchlist each streaming service has

In [6]:
# Code here

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present?

- *your_answer*

2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis?

- *your_answer*

3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least?

- *your_answer*

4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you?

- *your_answer*

# Bonus Mission

We didn't end up using that `importance_rank` field, did we?

Well, that was intentional! 

Your bonus mission is to come up with analysis that uses that field to determine, based on watchlist show importance_rank and number of watchlist shows available on a service, which platform you should subscribe to.

In [7]:
# Code Here